main {
  display: grid;
  max-width: 1280px;
  grid-template-columns: 2fr 3fr;
  grid-gap: 16px;
}

canvas {
  max-width: calc(((1280px / 5) - 16px) * 3);
}

pre {
  padding: 8px;
  border: 2px solid #424242;
  border-radius: 8px;
}

figure#chart-figure {
  margin: 0;
  padding: 16px;
  border: 2px solid #424242;
  border-radius: 8px;
  box-sizing: border-box;
}